<div class="m-5 h-fill">
  <div class="card rounded-s py-5 shadow-sm bg-white">
    <div class="flex flex-col">
      <div
        class="upper flex flex-row items-center gap-5 justify-between mx-5 mb-5"
      >
        <div class="upper-left">
          <div class="font-thin text-lg">Items catalogue</div>
        </div>
        <div class="upper-right">
          <app-search placeholder="Search list..."></app-search>
        </div>
      </div>
      <div class="table flex-grow">
        <app-table [elements]="this.dataSource" [pageIndex]="pageIndex" [keysToDisplay]="keysToDisplay">
        </app-table>
      </div>
      <mat-paginator
        class="bg-none"
        [length]="itemsLength"
        [pageSize]="itemsPerPage"
        [pageIndex]="this.pageIndex"
        (page)="onPageChanged($event)"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
</div>
