<div class="mt-[7rem] md:m-5 lg:m-5 xl:m-5 h-fill">
  <div class="card rounded-s py-5 shadow-sm bg-white">
    <div class="flex flex-col animate-fadeIn !0.5s">
      <div
        class="upper flex flex-row items-center gap-5 justify-between mx-5 mb-5"
      >
        <div class="upper-left hidden md:inline lg:inline xl:inline">
          <div class="font-thin text-lg">Items catalogue</div>
        </div>
        <div class="flex flex-row align-middle items-center gap-5">
          <app-dropdown [options]="sortByOptions"></app-dropdown>
          <div class="upper-right">
            <input
              type="text"
              placeholder="Search..."
              [formControl]="searchControl"
              class="search text-sm font-thin focus:outline-none focus:ring-2 focus:ring-slate-300 focus:ring-offset-2 border border-gray-300 p-2 w-full rounded-sm transition-all duration-200 ease-in-out"
            />
          </div>
          <mat-icon
            fontIcon="filter_list"
            class="hover:cursor-pointer text-slate-400"
            (click)="openFilterOptions()"
          ></mat-icon>
          <div
            class="rounded-lg font-light text-center text-sm bg-ui-base-light hover:cursor-pointer p-3 text-white"
            (click)="openCreateForm()"
          >
            Add new
          </div>
        </div>
      </div>
      <div class="table flex-grow">
        <app-table [keysToDisplay]="keysToDisplay"> </app-table>
      </div>
      <mat-paginator
        class="bg-none"
        [length]="itemsLength"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="this.pageIndex"
        (page)="handlePaginatorEvent($event)"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
</div>
