@if (isVisible) {
<div
  class="flex z-20 modal-bg absolute h-full w-full bg-modal-bg content-center items-center justify-center animate-fadeIn backdrop-blur-sm"
>
  <div class="card rounded-lg py-5 shadow-sm bg-white animate-grow">
    <div class="flex flex-col h-full">
      <div
        class="upper flex flex-row items-center gap-5 justify-between mx-5 pb-3 border-b-[1px] border-gray-200"
      >
        <div class="font-thin text-lg">{{ config!.title }}</div>
        <mat-icon
          fontIcon="close"
          class="hover:cursor-pointer"
          (click)="closeModal()"
        ></mat-icon>
      </div>

      @switch (config!.type) { @case ('car') {
      <app-car-view-form
        [objectId]="this.config?.object.id"
        class="flex flex-col flex-grow"
      />
      } @case ('confirm') {
      <app-confirm-modal />
      } @case ('filter') {
      <app-filter-form></app-filter-form>
      } @case ('user') {
      <app-user-data-form
        [userId]="this.config?.object.id"
      ></app-user-data-form>
      } }
    </div>
  </div>
</div>
}
