@if (isVisible) {
<div
  class="flex modal-bg absolute h-full w-full bg-modal-bg content-center items-center justify-center animate-fadeIn backdrop-blur-sm"
>
  <div
    class="card rounded-lg size-[50%] h-[80%] py-5 shadow-sm bg-white animate-grow"
  >
    <div class="flex flex-col h-full">
      <div
        class="upper flex flex-row items-center gap-5 justify-between mx-5 pb-3 border-b-[1px] border-gray-200"
      >
        <div class="font-thin text-lg">{{ config!.title }}</div>
        <mat-icon
          aria-hidden="false"
          aria-label="Close window"
          fontIcon="close"
          class="hover:cursor-pointer"
          (click)="closeModal()"
        ></mat-icon>
      </div>

      @switch (config!.type) { @case ('car') {
      <app-car-view-form
        [object]="this.config?.object"
        class="flex flex-col flex-grow"
      />
      }
      <!-- @case ('user') { <app-user-view-form /> } -->
      }

      <!-- <div class="lower flex flex-col mx-5 flex-grow justify-between">
        <div class="content">
          @for (key of this.getObjectKeys; track $index) { @if (key !=
          'metadata') {
          <div
            class="row flex font-light text-sm flex-row border-b-[1px] border-gray-200 py-2"
          >
            <div class="key min-w-[40%]">{{ key }}</div>
            <div
              class="column-right flex flex-row gap-3 justify-between flex-grow"
            >
              <div class="value">{{ this.config.object[key] }}</div>
              @if (key != 'id') { <button>edit</button> }
            </div>
          </div>
          } }
        </div>
        <div
          class="metadata-footer justify-self-end text-[0.6rem] font-extralight text-gray-400 text-right"
        >
          <p class="text-left">
            Last modified:
            {{ this.config.object.metadata.dateEdited }} by
            {{ this.config.object.metadata.editedBy }}
          </p>
        </div>
      </div> -->
    </div>
  </div>
</div>
}
