<div class="flex flex-col w-screen h-screen align-middle justify-center">
  <mat-card
    class="w-[400px] h-[300px] mb-32 justify-center justify-self-center mx-auto p-6 shadow-lg bg-white rounded-lg"
  >
    <mat-card-header
      class="flex items-center space-x-4 content-center justify-center"
    >
      <mat-card-title class="text-lg font-bold self-center"
        >Login</mat-card-title
      >
    </mat-card-header>
    <mat-card-content class="mt-5">
      <app-login-form></app-login-form>
    </mat-card-content>
  </mat-card>
</div>
