<div
  class="nav hidden sm:hidden md:flex lg:flex flex-col fixed bg-ui-base-dark text-white text-sm w-[7rem] sm:w-[7rem] lg:w-[13rem] left-0 top-0 h-screen justify-between"
>
  <div class="upper">
    <div
      class="logo-wrapper p-5 pt-10 flex flex-col justify-center items-center"
    >
      <app-svg-logo class="w-15 h-15" />
      <div class="mt-2 font-thin text-lg hidden lg:inline">CMS & co.</div>
    </div>
    <div class="mt-10 flex flex-col gap-10">
      @for (link of navLinks; track link) {
      <app-nav-link [value]="link.title" [path]="link.path"></app-nav-link>
      }
    </div>
  </div>
  <div
    class="logout align-self-end justify-self-center text-center py-4 bg-ui-base-dark-darker hover:cursor-pointer"
    (click)="logout()"
  >
    Logout
  </div>
</div>
