<div class="lower flex flex-col mx-5 flex-grow justify-between">
  <div class="content">
    @for (key of carKeys; track $index) { @if (key != 'metadata') {
    <div
      class="row flex font-light text-sm flex-row border-b-[1px] border-gray-200 py-2"
    >
      <div class="key min-w-[40%]">{{ key }}</div>
      <div class="column-right flex flex-row gap-3 justify-between flex-grow">
        <div class="value">{{ getValue(key) }}</div>
        @if (key != 'id') { <button>edit</button> }
      </div>
    </div>
    } }
  </div>
  <div
    class="metadata-footer justify-self-end text-[0.6rem] font-extralight text-gray-400 text-right"
  >
    @if (this.object.metadata) {
    <p class="text-left">
      Last modified:
      {{ this.object.metadata.dateEdited }} by
      {{ this.object.metadata.editedBy }}
    </p>
    }
  </div>
</div>
