@use "@ngxpert/hot-toast/src/styles/styles.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

app-root {
  z-index: 1;
}
app-toast,
.toast-class {
  z-index: 2;
}

html,
body {
  height: 100%;
}
body {
  margin: 1rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}