@use "@ngxpert/hot-toast/src/styles/styles.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

app-root {
  z-index: 1;
  height: 100%;
}
app-toast,
.toast-class {
  z-index: 2;
}

:root {
  --ui-base-dark: #220646;
  --ui-base-dark-darker: #15012e;
  --ui-base-light: #553c9a;

  --modal-bg: #00000061;

  --ui-base-red: #e03386;
  --ui-base-font-light: #a0aec0;
  --ui-base-font-dark: #4a5568;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // background-color: rgb(244, 244, 244);
  background-color: #f0f0f0;
}
